.mainGrid {
  display: grid;
  width: auto;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  grid-template-columns: 0.7fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.1fr 0.2fr 0.1fr;
  grid-template-areas:
    "navigation heading heading heading"
    "navigation progress progress status"
    "navigation maxYear maxMonth maxDay"
    "navigation chart2 chart2 chart";
}
.heading {
  margin: 1%;
  padding-left: 10px;
  grid-area: heading;
}
.progresBar {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  margin-left: 1%;
  margin-right: 1%;
  height: 30px;
  font-size: 20px;
  font-weight: 500px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
}
.progress {
  align-items: center;
  margin: 1%;
  grid-area: progress;

  border-radius: 10px;
}

.chart {
  margin: 2%;
  border-radius: 10px;
  border: solid 1px #000000;
  grid-area: chart;
}

.chart2 {
  margin: 1%;
  border-radius: 10px;
  border: solid 1px #000000;
  grid-area: chart2;
}

.status {
  margin: 2%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border: solid 1px #000000;
  grid-area: status;
  font-size: 18px;
  color: #398b23;
}

.recent {
  grid-area: recent;
  margin: 1%;

  border-radius: 10px;
  border: solid 1px #000000;
}
.maxMonth {
  grid-area: maxMonth;
  margin: 2%;
  border-radius: 10px;
  border: solid 1px #000000;
}

.maxDay {
  margin: 2%;
  border-radius: 10px;
  border: solid 1px #000000;
  grid-area: maxDay;
}

.maxYear {
  grid-area: maxYear;
  margin: 2%;

  border-radius: 10px;
  border: solid 1px #000000;
}
.centerDiv {
  display: flex;
  color: rgb(18, 86, 141);
  justify-content: center;
}
@media screen and (max-width: 750px) {
  .mainGrid {
    display: grid;
    width: auto;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.2fr 0.5fr 0.5fr;
    grid-template-areas:
      "navigation navigation navigation"
      "heading heading heading"
      "progress progress progress "
      "status status status"
      "maxMonth maxMonth maxMonth "
      "maxYear maxYear maxYear"
      "maxDay maxDay maxDay"
      "chart2 chart2 chart2"
      "chart chart chart";
  }

  h1 {
    font-size: 21px;
  }

  .cardText {
    padding-left: 15 px;
    font-weight: 100;
    font-size: 10px;

    grid-area: subtitle;
  }
  p {
    margin: 1%;
    font-size: 15px;
  }
  .maxMonth {
    grid-area: maxMonth;
    margin: 1%;
    border-radius: 10px;
    border: solid 1px #000000;
  }
  .maxDay {
    margin: 1%;
    border-radius: 10px;
    border: solid 1px #000000;
    grid-area: maxDay;
  }

  .maxYear {
    grid-area: maxYear;
    margin: 1%;

    border-radius: 10px;
    border: solid 1px #000000;
  }
  .status {
    margin: 1%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: solid 1px #000000;
    grid-area: status;
    font-size: 18px;
    color: #398b23;
  }
  .progresBar {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 1%;
    height: 22px;
    font-size: 15px;
    font-weight: 200px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
  }
}
