.mainGridEdit {
  display: grid;
  width: auto;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 0.1fr;
  grid-template-areas: "editForm ";
}
.mainGridEdit .lable {
  margin-left: 15px;
  font-weight: 500px;
  font-size: 18px;
}

.mainGridEdit .input {
  margin: 2%;
  width: 90%;
  padding-left: 10px;
  font-size: 20px;
  height: 25px;
  border-radius: 5px;
}

.mainGridEdit .inputArea {
  margin: 2%;
  width: 90%;
  padding-left: 10px;
  font-size: 20px;
  border-radius: 5px;
}
.mainGridEdit .select {
  margin: 2%;
  width: 93%;
  padding-left: 10px;
  font-size: 18px;
  height: 30px;
  border-radius: 5px;
}
.mainGridEdit .editForm {
  grid-area: editForm;
  background-color: rgb(255, 255, 255);
  margin-bottom: 20px;
  border-radius: 10px;
  border: solid 1px #000000;
  margin-right: 3%;
  height: fit-content;
}
.mainGridEdit .editForm .edit {
  background-color: #00a6b4;
  font-size: 18px;
  border-radius: 10px;
  height: 40px;
  margin-bottom: 20px;
  font-weight: 500;
  border: none;
  color: rgb(0, 0, 0);
  margin-left: 2%;
  padding-right: 30px;
  padding-left: 30px;
}
.mainGridEdit .cardText {
  padding-left: 15px;
  font-size: 18px;
  font-weight: 500;
  grid-area: subtitle;
}
.mainGridEdit .editForm .delete {
  background-color: #b21500;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  height: 40px;
  margin-bottom: 20px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  margin: 2%;
  padding-right: 30px;
  padding-left: 30px;
}

@media screen and (max-width: 750px) {
  .mainGridEdit {
    display: grid;
    width: auto;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    grid-template-columns: 1fr ;
    grid-template-rows: 0.2fr 0.1fr;
    grid-template-areas: "editForm ";
  }
}
